body {
    background-color: red;
}

    
form {
    display: flex;
    justify-content: center;
    border-color: bisque;
}

select{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5ch;
}